<h1 id="tableLabel">Turmas</h1>

<p *ngIf="!schoolClasses"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="schoolClasses">
  <thead>
    <tr>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let schoolClass of schoolClasses">
      <td>{{ schoolClass.name }}</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-outline-success" *ngIf="schoolClasses" [routerLink]="['/create-school']" >Cadastrar Escola</button>

<br/>
<br/>
<br/>
