<h1 id="tableLabel">Turmas</h1>

<div *ngIf="!schoolClasses" style="text-align: center;">
  <img src="assets/impulso-loading.gif" class="navbar-toggler-icon" />
  <p ><em>Carregando...</em></p>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="schoolClasses">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Série</th>
      <th>Quantidade de Alunos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let schoolClass of schoolClasses">
      <td>{{ schoolClass.id }}</td>
      <td>{{ schoolClass.name }}</td>
      <td>{{ schoolClass.grade }}</td>
      <td>{{ schoolClass.qtdStudents }}</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-outline-success" *ngIf="schoolClasses" [routerLink]="['/create-school-class',schoolId]" >Cadastrar Turma</button>

<br/>
<br/>
<br/>
