<h1 id="tableLabel">Escolas</h1>

<p *ngIf="schools"><em>Para acessar as turmas da escola clique em alguma das escolas.</em></p>

<div *ngIf="!schools" style="text-align: center;">
  <img src="assets/impulso-loading.gif" class="navbar-toggler-icon" />
  <p ><em>Carregando...</em></p>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="schools">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let school of schools" [routerLink]="['/show-school',school.id]">
        <td>{{ school.id }}</td>
        <td>{{ school.name }}</td>
      </tr>
  </tbody>
</table>

<button class="btn btn-outline-success" *ngIf="schools" [routerLink]="['/create-school']" >Cadastrar Escola</button>

<br/>
<br/>
<br/>
